@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url(https://fonts.googleapis.com/css?family=Exo);
@import url(https://fonts.googleapis.com/css?family=Cairo);
@import url(https://fonts.googleapis.com/css?family=Pontano+Sans);

body {
    font-family: "Pontano Sans";
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    font-size: 20px;
}

body > * {
  flex: 1 100%;
}

main {
    margin-right: 80px;
    text-align: justify;
}

td {
    vertical-align: baseline;
}

.date {
    font-weight: bold;
    margin-top: 30px;
}

h1 {
    text-align: center;
}

h2 {
    margin-left: 80px;
    margin-bottom: 0px;
    font-size: 34px;
}

h2.section, span.capital {
    text-transform: uppercase;
}

nav {
    position: absolute;
    top: 41px;
    left: 250px;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul {
    padding: 0;    
    height: 30px;
    margin: 0px;
    display: flex;
}

nav li {
    list-style-type: none;
    padding: 6px 8px;
    margin-left: 16px;    
}

nav li a {
    color: white;
    text-decoration: none;
}

main > div > ul, main > div > ol {
    margin-left: 80px;
}

form {
    margin-left: 80px;
}

.halfscreen {
    width: 50%;
}

.subheader {
    position: absolute;
    top: 460px;
    left: 64px;
    font-size: 48px;
    margin: 0px;
    max-width: 100px;
}

.active {
    color: #A4FF4A;    
    border-bottom: 2px solid #A4FF4A;
}

header {
    background-image: url(../images/design3_image1.jpeg);
    background-size: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-top: 112px solid #033949;
    background-position-y: 24px;
}

table {
    margin-top: 24px;
}

.schedule th {
    font-size: 24px;
}

.logo {    
    height: 200px;
    position: absolute;
    top: 24px;
    left: 40px;
    border-radius: 112px;
    box-shadow: 2px 2px 21px 0 rgba(0,0,0,0.12);
}

.info {
    margin-left: 330px;
    border-left: 1px solid #D8D8D8;
    margin-bottom: 80px;
    margin-top: 55px;
}

.paragraph {
    padding-left: 1em;
}

.text {
    margin-left: 80px;
}

.divisor {
    border-top: 24px solid #A4FF4A;
    width: 100%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #033949;
    color: white;
    font-size: 14px;
    height: 64px;
}

.copyright {
    margin-left: 40px;
    margin-top: 26px;
}
.squarepoint {
    list-style-type: square;
}

.section {
    font-size: 26px;
    margin-top: 40px;
}

.centered {
    text-align: center;
}

.subtitle {
    margin: 0px;
}

.schedule {
    width: 100%;
    max-width: 750px;
    margin-left: 80px
}

.locations {
    width:100%;
    max-width: 750px;
    margin-left: 80px
}

.extrainfo {
    margin-left: 80px;
}

.strong {
    font-weight: bold;
}

.extratopmargin {
    margin-top: 16px;
}

iframe {
    width: 600px;
    height: 400px;
    margin-right: 40px;
}

.maps {
    margin-left: 80px;
    display: flex;
    flex-flow: row wrap;
}

.extrainfo p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.contactinfo {
    display: flex;
}

.contactinfo > p {
    margin-left: 80px;
    margin-top: 0px;
}

.separator {
    border-top: 1px solid #D8D8D8;
}

input {
    font-size: 20px;
    margin-top: 16px;
} 

.contact, .divsection {
    margin-top: 24px;
}